<div class="container">
  <div>
    <h2>Edit Car :</h2>
  </div>
  <form>
<table align="center" width="100%">
  <tr>
   <th>   <label>ID Car</label></th>
 <td>     <input
        readonly
        type="text"
        [(ngModel)]="currentCar.idCar"
        name="idCar"
        class="form-control"
      /></td>
</tr>
<tr>
  <th> <label>Name</label></th>
  <td> <input
        type="text"
        [(ngModel)]="currentCar.nomCar"
        name="nomCar"
        class="form-control" required minlength="4" #name="ngModel"
      />
    </td>
    </tr>
      <tr>
        <th> <label>Group</label></th>
        <td> <select
        class="form-control form-control-lg"
        id="idGrp"
        name="idGrp"
        [(ngModel)]="updatedGrpId" required #select="ngModel">
        <option *ngFor="let grp of groupes" [value]="grp.idGrp">
          {{ grp.nomGrp }}
        </option>
      </select>
</td>
    </tr>
      <tr>
        <th> <label>Date Creation</label></th>
        <td> <input
        type="date"
        [ngModel]="currentCar.dateAjout | date: 'yyyy-MM-dd'"
        (ngModelChange)="currentCar.dateAjout = $event"
        name="dateAjout"
        class="form-control" required #date="ngModel"
      /></td>

    </tr>
    <tr>
      <th> <label>ImageUrl</label></th>
      <td> <input
        type="text"
        [(ngModel)]="currentCar.imgCar" #name="ngModel"
        name="imgCar"
        class="form-control" required
        />
        </td>
        </tr>
      <tr> <th style="text-align: center;" colspan="2"> <button type="submit" (click)="updateCar()" class="btn btn-success">
        Edit
      </button>
      <a routerLink="/cars"><button type="button" class="btn btn-danger">
        Cancel
      </button></a></th></tr>
</table>
  </form>
</div>
