<br>
<div class="container">
<div class="card shadow mb-4">
<div class="card-body">
  <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
    <form>
    <label>Groups </label>
    <select class="form-control form-control-lg" id="idGrp" name="idGrp"
    [(ngModel)]="IdGrp" (change)="onChange()">
    <option *ngFor="let grp of groupes" value="{{grp.idGrp}}">
    {{grp.nomGrp}}
     </option>
    </select>
    </form>
    </div>
<table class="table table-striped">
  <tr><th style="text-align:center;" colspan="4">Cars</th></tr>
<tr> <th>Id</th><th>Name</th><th>Group</th> <th>Price</th> <th>Image</th><th>Creation Date</th><th *ngIf="authService.isAdmin()" colspan="2">Actions</th> </tr>
<tbody *ngFor="let car of cars">
<tr>
<td>{{car.idCar}}</td>
<td>{{car.nomCar}}</td>
<td>{{car.groupe.nomGrp}}</td>
<td>{{car.prixCar}}</td>
<td><img src={{car.imgCar}} alt="carImg"></td>
<td>{{car.dateAjout | date:'dd/MM/yyyy'}}</td>
<td><a *ngIf="authService.isAdmin()" class="btn btn-danger" (click)="supprimerCars(car)">Delete</a></td>
<td><a *ngIf="authService.isAdmin()" class="btn btn-success" [routerLink]="['/updateCar',car.idCar]">Edit</a></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
