h2{
  text-align: center;
  margin-top: 20px;
  font-size: 50px;
  margin-bottom: 45px;
}
button{
  margin: 10px;

  width:auto;
}
form{

  border-radius: 10px;
  padding: 20px;
  margin-top: 58px;
}

table,tr,td,th{
  padding: 10px;
}
