<div class="container">
  <h2>List Of Groups :</h2>
  <div class="card shadow mb-4">
  <div class="card-body">
  <table class="table table-striped">
    <tr><th style="text-align:center;" colspan="5">Groups</th></tr>
  <tr> <th>Id</th><th>Name</th> <th>Description</th><th *ngIf="authService.isAdmin()" colspan="2">Actions</th> </tr>
  <tbody *ngFor="let groupe of groupes">
  <tr>
  <td> {{groupe.idGrp}}</td>
  <td> {{groupe.nomGrp}}</td>
  <td> {{groupe.descriptionGrp}} </td>
  <td><a *ngIf="authService.isAdmin()"  class="btn btn-danger" (click)="supprimerGroup(groupe)" >Delete</a></td>
  <td><a *ngIf="authService.isAdmin()"  class="btn btn-success" [routerLink]="['/updateGrp',groupe.idGrp]" >Edit</a></td>
  </tr>
  </tbody>
  </table>


  </div>
  </div>
  </div>
